@model IEnumerable<SGE.Models.OrcamentoItem>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sistema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeInstrumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSistema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diarias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotalItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorSublocacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orcamento.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Case.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sistema.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrumento.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeInstrumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSistema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diarias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotalItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorSublocacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
