@model IEnumerable<CaseEquipamentos>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Equipamento.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipamento.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipamento.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipamento.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipamento.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipamento.Status)
                    </td>
                    <td>
                        <a asp-action="DeleteCaseEquipamento" asp-route-id="@item.Id" class="btn btn-primary">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>