@model SGE.Models.Entidade

@{
    ViewData["Title"] = "Detalhes";
}

    <h2>Detalhes</h2>

<div>
    <h4>Entidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoPessoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPessoa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPFCNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPFCNPJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RGInscricaoEstadual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RGInscricaoEstadual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
