@model SGE.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

    <h2 class="text-danger">Funcionario @ViewBag.NomeFuncionario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tratamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tratamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Escolaridade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escolaridade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeMae)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoNasc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoNasc.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CidadeNasc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CidadeNasc.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAdmissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDemissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDemissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrgaoEmissor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrgaoEmissor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CTPS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CTPS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
