@model SGE.Models.PosicaoAlmoxarifado

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PosicaoAlmoxarifado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioAlteracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioAlteracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
