@model IEnumerable<SGE.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h2>Contratos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeloContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloContrato.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entidade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
